#page-answer {
  background: #312e38;
  width: 100%;
  max-width: 350px;
  height: 100vh;
  margin: 0 auto;
}

#page-answer header {
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
}

#page-answer header img {
  height: 80px;
}

#page-answer header .back-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#page-answer header .back-link a {
  display: block;
  color: #f4ede8;
  text-decoration: none;
  transition: color 0.2s;
  display: flex;
  align-items: center;
}
#page-answer header .back-link a:hover {
  color: #bebebe;
}

#page-answer header .back-link a svg {
  margin-right: 10px;
}

#page-answer h1,
h2 {
  padding: 0 10px 0 10px;
}

#page-answer .question-options {
  flex-direction: column;
  padding: 0 10px 0 10px;
}
#page-answer .question-options button {
  width: 100%;
  height: 46px;
  background: #ff9000;
  border-radius: 6px;
  color: #312e38;
  font-weight: bold;
  font-size: 18px;
  border: 0;
  align-self: flex-end;
  margin-top: 10px;
  transition: background-color 0.2s;
  cursor: pointer;
}

#page-answer .question-options button :hover {
  background: #ffcd8b;
}
